# Build Output
**/*.0x
**/.flags
**/_build/**
**/artifacts/**
**/build/**
**/dist/**
**/node_modules/**
**/tsconfig.tsbuildinfo
*.docker-compose.yml
docker-compose.yml
modules/*/package-lock.json
config-prod.json

# Cache
**/.bot-store
**/.buidler
**/.cache
**/.config
**/.connext-store/**
**/.git
**/.jest.cache
**/.local
**/.node-gyp
**/.npm
**/.pyEnv
**/.rpt2_cache
**/.test-store
**/.tmp
**/cache/**

# Data Storage
**/.bot-store/
**/.chaindata
**/.db-snapshots
modules/server-node/connext-store.db
modules/server-node/migrations/migrate.lock

# Docs
modules/client/docs
modules/documentation/site

# IDEs and editors
**/*.launch
**/*.sublime-workspace
**/*.sw[opq]
**/.c9/
**/.classpath
**/.idea
**/.project
**/.settings/
**/.vscode

# Logs
**/*.*_backup
**/*.log
**/*.patch
cypress/screenshots
cypress/videos

# OS
**/.bash_history
**/.DS_Store

# Sensitive Data
**/.env
**/react-app-env.d.ts
.secret
